.dropdown-menu {
    background:  rgba(0,0,0,0.5);
    width: 120px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: transparent;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: transparent;
    
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
    text-align: center;

}

.dropdown-link:hover{
color: var(--primary);
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}
